// MainContent.scss
.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  
  
    // Second div (main content section)
    .content-section {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: #27272a; // zinc-800
      border: 1px solid #494949;
      display: flex;
      justify-content: space-between;  // Align child (avatar-container) to the right
      align-items: flex-start;  // Align child (avatar-container) to the top
      padding: 80px;  // Optional: Adds some padding for spacing
      overflow-y: scroll;            /* Vertical scrolling only */
      overflow-x: hidden;            /* Hide horizontal */
      scrollbar-width: none;
    }
}