// styles/mainContent/thesis.scss
.thesis {
  display: flex;
  flex-direction: column;
  padding: 2em;
  color: #ffffff;
  height: 100%;
  box-sizing: border-box;

  h1 {
    font-size: 3em;
    color: #569cd6;
  }
  a {
    font-size: 1em;
    margin-bottom: 1em;
    color: #ce9178;
  }
}
