.page-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;

  .page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    .page-main {
      display: flex;
      flex: 1;
      overflow: hidden;
    }

    // New wrapper for Tab and content-section
    .content-wrapper {
      display: flex;
      flex-direction: column; // Stack Tab and content-section vertically
      flex: 1; // Take up remaining space
      overflow: hidden; // Prevent overflow issues
    }

    .content-section {
      flex: 1; // Take up remaining space below Tab
      background-color: #27272a; // zinc-800
      border: 1px solid #494949;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 80px;
      overflow-y: scroll; // Vertical scrolling for content
      overflow-x: hidden; // Hide horizontal (changed from scroll)
      scrollbar-width: none;
    }

    .float-button-group {
      position: fixed;
      bottom: 24px;
      right: 24px;
    }
  }
}

@media (max-width: 768px) {
  .page-content {
    .page-main {
      position: relative;
      width: 100%;
      height: 100%;
      .content-wrapper {
        width: 100%;
      }
      .content-section {
        display: flex;
        flex: 1;
        padding: 0px;
      }
    }
  }
}
