.side-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: #27272a;
    border: 1px solid #494949;
    width: 82px;
    height: 100vh;
    box-sizing: border-box;
  
    .top-icons,
    .bottom-icons {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  
    .bottom-icons {
      margin-bottom: 3.25em;
    }
  }
  @media (max-width: 768px) {
    .side-navigation {
      display: none;
      position: absolute;
      top: 0;
      left: 0; // Leftmost position
      height: 100%;
      width: 100px; // Fixed width for mobile
      z-index: 10; // Same z-index as Files
      transition: transform 0.3s ease-in-out;
  
      &.visible {
        display: flex;
        transform: translateX(0);
      }
    }
  }